{% extends "layout.html" %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% block content %}
<div class="container mt-4">
    <h2>SSRS Automated Reports</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Report Name</th>
                <th>Data Constraints</th>
                <th>Group Contracts</th>
                <th>Modified Date</th>
                <th>Creation Date</th>
                <th>Avg. Execution Time</th>
                <th>Description</th>
                <th>Template</th>
                <th>Document</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
            <tr>
                <td>{{ entry['column1'] }}</td>
                <td>{{ entry['column10'] }}</td>
                <td>{{ entry['column8'] }}</td>
                <td>{{ entry['column6'] }}</td>
                <td>{{ entry['column5'] }}</td>
                <td>{{ entry['column4'] }}</td>
                <td>{{ entry['column3'] }}</td>
                <td>
                    <a href="{{ entry['column2'] }}" class="btn btn-primary btn-sm" target="_blank" download>Download Template</a>
                </td>
                <td>
                    {% if entry['document_link'] %}
                    <a href="{{ entry['document_link'] }}" class="btn btn-primary btn-sm" target="_blank" download>Download Document</a>
                    {% else %}
                    <div class="btn btn-secondary btn-sm disabled-button" disabled>No Document Available</div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination controls -->
    <div class="row">
        <div class="col-sm-6">
            {% if previous_page_number is not none %}
            <a href="{{ url_for('ssrs_automated_reports_page', page=previous_page_number) }}" class="btn btn-primary">Previous Page</a>
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            {% if next_page_number is not none %}
            <a href="{{ url_for('ssrs_automated_reports_page', page=next_page_number) }}" class="btn btn-primary">Next Page</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
