{% extends "layout.html" %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% block content %}
<div id="accordion">
    {% for entry in data %}
    <div class="card">
        <div class="card-header" id="heading{{ loop.index }}">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                    {{ entry['column1'] }}
                </button>
            </h5>
        </div>

        <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
            <div class="card-body">
                <p>Data Constraints:{{entry['column10']}}</p>
                <p>Input Fields:{{entry['column9']}}</p>
                <p>Group Contracts:{{entry['column8']}}</p>
                <p>Original Requester:{{entry['column7']}}</p>
                <p>Modified Date: {{entry['column6']}}</p>
                <p>Creation Date: {{entry['column5']}}</p>
                <p>Avg. Execution Time: {{ entry['column4'] }}</p>
                <p>Description: {{ entry['column3'] }}</p>
                <a href="{{ entry['column2'] }}" class="btn btn-primary btn-sm" target="_blank" download>Download Template</a>
                {% if entry['document_link'] %}
                <a href="{{ entry['document_link'] }}" class="btn btn-primary btn-sm" target="_blank" download>Download Document</a>
                {% else %}
                <div class="btn btn-secondary btn-sm disabled-button" disabled>No Document Available</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- Pagination controls -->
    <div class="container mt-4">
        {% if next_page_number is not none %}
        <div class="row">
            <div class="col-sm-6">
                {% if previous_page_number is not none %}
                <a href="{{ url_for('ssrs_automated_reports_page', page=previous_page_number) }}" class="btn btn-primary">Previous Page</a>
                {% endif %}
            </div>
            <div class="col-sm-6 text-right">
                <a href="{{ url_for('ssrs_automated_reports_page', page=next_page_number) }}" class="btn btn-primary">Next Page</a>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-sm-12 text-center">
                {% if previous_page_number is not none %}
                <a href="{{ url_for('ssrs_automated_reports_page', page=previous_page_number) }}" class="btn btn-primary">Previous Page</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
    {% endblock %}
